<h1>Create new entry:</h1>

<%= form_for [@project, @entry] do |f| %>
  <%= f.label :hours %>
  <%= f.number_field :hours %>
  <%= f.label :minutes %>
  <%= f.number_field :minutes %>
  <%= f.label :start_date %>
  <%= f.date_field :start_date %>
  <%= f.label :comment %>
  <%= f.text_area :comment %>
  <%= f.submit "Create Entry" %>
<% end %>