<h1>The last 10 projects</h1>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.title, project_path(project) %> <%= project.description %> - Updated at: <%= project.updated_at.strftime('%H:%M:%S') %>
      <%= link_to "Edit Project", edit_project_path(project) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Project", new_project_path %>