<h1>Name: <%= @project.title %></h1>

<p>Description: <%= @project.description %></p>

<p>Entries:</p>
<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= entry.hours %> hours: <%= entry.minutes %> minutes. Job: <%= entry.comment %>
      <%= link_to "Edit", edit_entry_path(entry) %>
      <%= link_to "Delete", entry_path(entry), method: "DELETE", data: {confirm: 'Are you sure?'} %>
    </li>
  <% end %>
</ul>

<%= link_to "Go Back", projects_path %>
<%= link_to "Create new entry", new_project_entry_path(@project) %>