<!DOCTYPE html>
<html>
<head>
  <title>BookStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <div class="row">
        <%= render 'shared/header' %>
      </div>
    </header>

    <main>
      <div class="row">
        <div class="col-lg-2">
          Left
        </div>
        <div class="col-lg-10">
          <%= yield %>
        </div>
      </div>
    </main>

    <footer>
      <div class="row">
        <div class="row">
          <%= render 'shared/footer' %>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
