<div class="top-box jumbotron">
  <h1><%= @heading %></h1>
  <!-- <p>...</p> -->
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>

<% @concerts.each do |concert| %>
  <div class="media">
    <div class="media-left">
      <a href="/concerts/<%= concert.id %>">
        <img class="media-object" src=<%= concert.poster %> alt="..." height="64px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
      <%= link_to "#{concert.band} @ #{concert.venue}", concert_path(concert) %>
      </h4>
      <%= concert.date.strftime("%d.%m %H:%M h") %>, <%= concert.city %>:
      <br>
      <%= concert.description %>.
      <br>
      Price: <%= concert.price %>€.
    </div>
  </div>
<% end %>